.header {
    &__main {
        z-index: 99;
        position: relative;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 3.5%;
        padding-left: 2.5%;
        background-color: black;
    }
    &__logo {
        img {
            margin-top: 10px;
            height: 10%;
            width: 10%;
        }
    }
    &__nav {
        .nav {
            &__list {
                display: flex;
                align-items: center;
                list-style: none;
            }
            &__item {
                Button {
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                width: 115px;
                margin-left: auto;
                font-size: 105%;
                }
            }
            &__link {
                font-weight: bold;
                font-size: 20px;
                &:hover {
                    color: grey;
                }
            }
        }
        // .nav__list {}
        // .nav__item {}
        // .nav__link {}
    }
}