.login__header {
    &__main {
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    &__logo {
        img {
            width: 200px;
        }
    }
    &__nav {
        .nav {
            &__list {
                display: flex;
                align-items: center;
                list-style: none;
            }
            &__item {
                margin: 0px 20px;
                Button {
                    width: 100%;
                    font-size: 100%;
                    padding: 10px 20px;
                }
            }
            &__link {
                font-weight: bold;
                font-size: 15px;
                &:hover {
                    color: lightgray;
                }
            }
        }
    }
}

.header {
    &__main {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    &__logo {
        img {
            width: 110px;
        }
    }
    &__nav {
        .nav {
            &__list {
                display: flex;
                align-items: center;
                list-style: none;
            }
            &__item {
                margin: 0px 20px;
            }
            &__link {
                font-weight: bold;
                font-size: 15px;
                &:hover {
                    color: lightgray;
                }
            }
        }
    }
}