.background_image {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 0;
    background-image: url('../../public/Netflix-Background.jpg');
    background-size: cover;
}

.opacity {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 1;
    background-color: black;
    opacity: 0.6;
    background-size: cover;
}

.opacity__modal {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.background {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

.line {
    border-top: 2px solid rgb(236, 236, 236);
    margin-left: 20px;
    z-index: 9;
    height: 2px;
    margin-right: 20px;
    width: 100%;
    position: absolute;
    margin: 0%;
}