.container {
    display: flex;
    padding: 0 60px;
  }
  
.movie {
    flex: 0 0 19.7%;
    text-align: center;
    transition: transform 300ms ease 100ms;
    &:hover {
        transform: scale(1.2) !important;
      }
    &__img {
        width: 97%;
        height: auto;
        border-radius: 3px;
    }
}
