.profil {
    &__page {
        position: relative;
        display: flex;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    &__image {
    }

    &__info {
        margin-left: 30%;
        position: absolute;
        display: block;

    }
}

.image {
    width: 70%;
    border-radius: 10px;
    margin-left: 120%;
}