.category__title {
    text-align: left;
    font-size: 70%;
    font-family: $titleFont;
    margin-left: 3.8px;
}

.page {
    &__mylist {
        .category__title {
            margin-left: 5%;
        }
    }
    &__trailer {
        .category__title {
            margin-left: 5%;
        }
    }
}
